body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

/* LOGIN */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* NAVBAR */
.navbar {
    background: #2d89ef;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* UPLOAD */
.upload {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.upload input, .upload button {
    display: block;
    margin: 10px 0;
    padding: 10px;
}

/* PRODUK */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 15px;
    padding: 20px;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}
